<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>JavaScript Image Slider</title>
  </head>
  <body class="flex">
    <div class="main flex">
			<div class="gallery-box flex">
        <button class="button-left button"></button>
				<div class="highlighted-photo">
					<img src="/static/images/<%= images[2] %>">
          <div class="description">
            <h1 class="title">címecske</h1>
            <p class="descr">fiszfasz</p>
          </div>
        </div>
        <button class="button-right button"></button>
      </div>
      <div class="thumbnails flex">
        <div class="thumb"></div>
      </div>
    </div>
  </body>
</html>

