@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800&display=swap');

* {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #abacab;
  font-family: 'Montserrat', sans-serif;
}

.title {
  text-transform: uppercase;
  margin: 30px;
  font-weight: 800;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: #dedede;
  border-radius: 25px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  text-transform: uppercase;
  margin: 5px 50px;
}

input {
  margin: 0 50px;
}

.password {
  display: flex;
  width: 88%;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.password > input {
  margin: 0 0 0 50px;
  width: 100%
}

img {
  height:25px;
  background-color: #dedede;
  margin: 0 10px;
}

.comment {
  font-size: 10px;
  margin: 10px 50px;
}

.troubleshoot {
  text-decoration: none;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
  margin-right: 50px;
}

button {
  margin: 30px 100px;
  height: 40px;
  color: #ffffff;
  background-color: #2A2025;
  border: none;
  border-radius: 25px;
}